<!DOCTYPE html>
<html>
<head>
  <title>Keranjang</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Kasir Donat Modern</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/menu">Menu</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cart">Keranjang</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h1 class="mt-5">Keranjang</h1>
    <% if (cartItems.length > 0) { %>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nama</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Kuantitas</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% cartItems.forEach((cartItem) => { %>
            <tr>
              <td><%= cartItem.id %></td>
              <td><%= cartItem.name %></td>
              <td><%= cartItem.description %></td>
              <td><%= cartItem.quantity %></td>
              <td>
                <form action="/remove-from-cart" method="post">
                  <input type="hidden" name="cart_id" value="<%= cartItem.id %>">
                  <button type="submit" class="btn btn-danger">Remove</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <form action="/checkout" method="post">
        <button type="submit" class="btn btn-primary">Checkout</button>
      </form>
    <% } else { %>
      <p class="mt-4">Keranjang kosong</p>
    <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
